@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@layer base {
	html,
	body {
		@apply bg-athens-gray-50;
	}
}

@theme {
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;

	--color-athens-gray-50: #f1f5f9;
	--color-athens-gray-100: #e9eff5;
	--color-athens-gray-200: #cedde9;
	--color-athens-gray-300: #a3c0d6;
	--color-athens-gray-400: #729fbe;
	--color-athens-gray-500: #5083a7;
	--color-athens-gray-600: #3d698c;
	--color-athens-gray-700: #325572;
	--color-athens-gray-800: #2d495f;
	--color-athens-gray-900: #293e51;
	--color-athens-gray-950: #1b2936;
}
